h1 {
  color: brown;
  font-display: 0;
  text-align: center;
}
h2 {
  color: blueviolet;
  font-display: 0;
  text-align: center;
}
body {
  background-color: darkgray;

  text-align: center;
}
input {
  text-align: left;
}
::placeholder {
  text-align: center;
}
p {
  width: 400px;
  padding: 1%;
  font-size: 33px;
  font-weight: bolder;
  font-style: oblique;
  font-display: 0;
  text-align: center;
  border-style: solid;
  border-color: red;
  border-width: 3px;
  margin: auto;
  border-radius: 40%;
}
h3 {
  color: rgb(230, 43, 6);
  font-display: 0;
  text-align: center;
}
body {
  background-image: url("다운로드.jpeg");
  background-size: cover;
  text-align: center;
}
tbody table {
  text-align: center;
  padding: 0%;
}
th input {
  text-align: center;
}
th,
tbody,
td {
  text-align: center;
  font-display: 0;
}
hr {
  background-color: antiquewhite;
  height: 2px;
  border: 0;
}
